In [4]:
import os
import pandas as pd

In [17]:
layoutFile_L3 = pd.read_excel("../raw/TUS_2019/Data_Layout_TUS106.xlsx", header=63,nrows=21,usecols=[1,6,8])
layoutFile_L3.columns=['item', 'start', 'end']
layoutFile_L3.set_index("item", inplace=True)

In [18]:
layoutFile_L3.head()

                start  end
item
Common-ID           1   32
Level              33   34
Filler             35   39
Household size     40   42
religion           43   43

In [19]:
L3_txt = open("../raw/TUS_2019/TUS106_L03.TXT")
start = layoutFile_L3['start']
end = layoutFile_L3['end']
rows = []
for line in L3_txt:
    line = line.strip()
    row = [line[start[i]-1:end[i]].strip() for i in range(len(layoutFile_L3))]
    rows.append(row)

In [20]:
df_L3 = pd.DataFrame(rows, columns=layoutFile_L3.index)

In [21]:
df_L3.head()

item,Common-ID,Level,Filler,Household size,religion,Social group,Land possessed as on date of survey(code),usual consumer expenditure in a month for household purposes out of purchase (A),imputed value of usual consumption in a month from home grown stock (B),"imputed value of usual consumption in a month from wages in kind, free collection, gifts, etc (C )",...,usual monthly consumer expenditure E: [A+B+C+(D/12)],Primary source of energey for cooking,Primary source of energey for lighting,Type of washing of clothes,Type of sweeping of floor,Type of structure of the dwelling unit,member of age 5 years and above needing special care but no care giver is available,Blank,NSC,MULT
0,TUS10202106201910111901311011001,03,00000,4,1,9,05,8500,2000,0,...,10500,01,1,2,2,3,2,,4,1281550
1,TUS10202106201910111901311011002,03,00000,5,1,9,05,7000,2500,0,...,9500,01,1,1,2,3,2,,4,1281550
2,TUS10202106201910111901311011003,03,00000,4,4,1,08,12000,3000,650,...,17733,02,1,2,2,3,2,,4,1281550
3,TUS10202106201910111901311011004,03,00000,5,1,9,06,12000,2000,0,...,14000,01,1,2,2,3,2,,4,1281550
4,TUS10202106201910111901311011005,03,00000,5,1,9,05,10000,3000,500,...,14500,01,1,2,2,2,1,,4,1281550

In [23]:
df_L3.columns

Index(['Common-ID', 'Level', 'Filler', 'Household size', 'religion',
       'Social group ', 'Land possessed as on date of survey(code)',
       'usual consumer expenditure in a month for household purposes out of purchase (A)',
       'imputed value of usual consumption in a month from home grown stock (B)',
       'imputed value of usual consumption in a month from wages in kind, free collection, gifts, etc (C )',
       'expenditure on purchase of household durable during last 365 days (D)',
       'usual monthly consumer expenditure E: [A+B+C+(D/12)]',
       'Primary source of energey for cooking',
       'Primary source of energey for lighting', 'Type of washing of clothes',
       'Type of sweeping of floor', 'Type of structure of the dwelling unit',
       'member of age 5 years and above needing special care but no care giver is available',
       'Blank', 'NSC', 'MULT'],
      dtype='object', name='item')

In [24]:
df_L3.drop(columns=['Level', 'Filler','Blank', 'NSC', 'MULT'], inplace=True)

In [27]:
df_L3["Common-ID"].apply(lambda x: len(x.replace(" ", ""))).value_counts()

Common-ID
32    130551
31      8248
Name: count, dtype: int64

There is some error with these IDs and some of them have missed a bit somewhere. Dropping them below

In [30]:

df_L3["Common-ID"] = df_L3["Common-ID"].apply(lambda x: x.replace(" ", ""))
df_L3 = df_L3[df_L3["Common-ID"].apply(lambda x: len(x)) == 32]

C:\Users\shrey\AppData\Local\Temp\ipykernel_30712\4052392573.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_L3["Common-ID"] = df_L3["Common-ID"].apply(lambda x: x.replace(" ", ""))

In [31]:
df_L3.to_pickle("../proc/df_L3.pkl")