In [1]:
import pandas as pd
import os
from datetime import datetime
import copy

In [2]:
################# GLOBAL VARIABLES ######################

# Definitions from PLFS 2018-19 Annual Report, Concepts and Definitions (2.38.1)
# Problematic codes for self employed criteria: `21` - worked in household enterprises (self-employed) as helper
SELF_EMP_CODES = ["11", "12", "21"]
REG_EMP_CODES = ["31"]
CASUAL_EMP_CODES = ["41", "42", "51", "61", "62", "71", "72"]

NOT_REG_CODES = SELF_EMP_CODES + CASUAL_EMP_CODES

EMP_CODES = SELF_EMP_CODES + REG_EMP_CODES + CASUAL_EMP_CODES
UNEMP_CODES = ["81", "82"]
LF_CODES = EMP_CODES + UNEMP_CODES
NOT_IN_LF_CODES = [str(x) for x in list(range(91,100))]

### Name of the game: 
1) Write a cleaner version of the code from before, 
    1) Get average time spent in home production, leisure (and work?). Group by work status
    2) See difference across north/south for couples where both agents are working.
    3) In order to get proper subsetting, I need to make match husbands and wives, just like I did in PLFS, so that I can subset married women with 15-49 age.
    
In order to this, it is important to first write code that gets me a data frame. This is because reading from the text file is costly.

In [3]:
# Level 1: Get start bits, end bits and name of variable
# This Level contains States -- not exactly but still..
layoutFile_L1 = pd.read_excel("../../data/raw/TUS_2019/Data_Layout_TUS106.xlsx", header=7,nrows=30,usecols=[1,6,8])
layoutFile_L1.columns=['item', 'start', 'end']
layoutFile_L1.set_index("item", inplace=True)

In [4]:
# Read the corresponding text file
L1_txt = open("../../data/raw/TUS_2019/TUS106_L01.TXT")
start = layoutFile_L1['start']
end = layoutFile_L1['end']
rows = []
for line in L1_txt:
    line = line.strip()
    row = [line[start[i]-1:end[i]].strip() for i in range(len(layoutFile_L1))]
    rows.append(row)

In [5]:
df_L1 = pd.DataFrame(rows, columns=layoutFile_L1.index)
df_L1.head()

item,Schedule ID,FSU Serial No.,Schedule,survey year,Sector,NSS-Region,District,Stratum,Sub-Stratum,Sub-Round,...,Date of Despatch,Time to canvass(minutes),No. of investigators(FI/ASO) in the team,Remarks in block 7,Remarks in block 8,Remarks elsewhere in Sch.,Remarks elsewhere in Sch.,Blank,NSC,MULT
0,TUS,10202,106,2019,1,011,19,01,31,1,...,130219,90,1,2,2,2,2,,4,1281550
1,TUS,10202,106,2019,1,011,19,01,31,1,...,130219,90,1,2,2,2,2,,4,1281550
2,TUS,10202,106,2019,1,011,19,01,31,1,...,130219,90,1,2,2,2,2,,4,1281550
3,TUS,10202,106,2019,1,011,19,01,31,1,...,130219,90,1,2,2,2,2,,4,1281550
4,TUS,10202,106,2019,1,011,19,01,31,1,...,130219,90,1,2,2,2,2,,4,1281550

It looks like the dataset does not have State Codes/Names. But it does have NSS-Region. And it looks like that the first two digits of the NSS-Region Code is actually State Codes. I am quite sure that these state codes will be the same as those in PLFS.

In [6]:
df_L1["State"] = df_L1.loc[:,"NSS-Region"].apply(lambda x: x[:-1])

In [7]:
df_L1["north"] = pd.Series(None)
df_L1.loc[df_L1["State"].isin(["03","06","08","09","23","24"]),"north"] = 1
df_L1.loc[df_L1["State"].isin(["27","28","29","32","33","36"]),"north"] = 0

In [8]:
# Generate a Common-ID to merge across data frames. This Common-ID is a HH Level ID.
df_L1["Common-ID"] = df_L1["Schedule ID"] + df_L1["FSU Serial No."] + df_L1["Schedule"] + df_L1["survey year"] +\
                     df_L1["Sector"] + df_L1["NSS-Region"] + df_L1["District"] + df_L1["Stratum"] + df_L1["Sub-Stratum"] + \
                     df_L1["Sub-Round"] + df_L1["FOD Sub-Region"] + df_L1["Sample hhld. No."]

In [9]:
df_L1["Common-ID"]

0         TUS10202106201910111901311011001
1         TUS10202106201910111901311011002
2         TUS10202106201910111901311011003
3         TUS10202106201910111901311011004
4         TUS10202106201910111901311011005
                        ...
138794    TUS26082106201923612304043361010
138795    TUS26082106201923612304043361011
138796    TUS26082106201923612304043361012
138797    TUS26082106201923612304043361013
138798    TUS26082106201923612304043361014
Name: Common-ID, Length: 138799, dtype: object

In [10]:
df_L1.columns

Index(['Schedule ID', 'FSU Serial No.', 'Schedule', 'survey year', 'Sector',
       'NSS-Region', 'District', 'Stratum', 'Sub-Stratum', 'Sub-Round',
       'FOD Sub-Region', 'Sample hhld. No.', 'Level ', 'Filler',
       'Informant Sl.No.', 'Response Code', 'Survey Code',
       'Substitution Code/ Casualty code', 'Filler', 'Date of Survey',
       'Date of Despatch', 'Time to canvass(minutes)',
       'No. of investigators(FI/ASO) in the team', 'Remarks in block 7',
       'Remarks in block 8', 'Remarks elsewhere in Sch.',
       'Remarks elsewhere in Sch.', 'Blank', 'NSC', 'MULT', 'State', 'north',
       'Common-ID'],
      dtype='object', name='item')

In [11]:
# Level 2: Contains marital status and gender. 
layoutFile_L2 = pd.read_excel("../../data/raw/TUS_2019/Data_Layout_TUS106.xlsx", header=43,nrows=14,usecols=[1,6,8])
layoutFile_L2.columns=['item', 'start', 'end']
layoutFile_L2.set_index("item", inplace=True)

In [12]:
L2_txt = open("../../data/raw/TUS_2019/TUS106_L02.TXT")
n = 0
start = layoutFile_L2['start']
end = layoutFile_L2['end']
rows = []
for line in L2_txt:
    line = line.strip()
    row = [line[start[i]-1:end[i]].strip() for i in range(len(layoutFile_L2))]
    rows.append(row)

In [13]:
df_L2 = pd.DataFrame(rows, columns=layoutFile_L2.index)
df_L2.head()

item,Common-ID,Level,Filler,Person serial no.,Relation to head,Gender,Age,marital status,highest level of education,usual principal activity: status (code),industry of work: 2-digit of NIC 2008,Blank,NSC,MULT
0,TUS10202106201910111901311011001,02,00,001,1,1,44,2,04,31,20,,4,1281550
1,TUS10202106201910111901311011001,02,00,002,2,2,32,2,11,31,85,,4,1281550
2,TUS10202106201910111901311011001,02,00,003,5,1,5,1,02,,,,4,1281550
3,TUS10202106201910111901311011001,02,00,004,5,2,3,1,01,,,,4,1281550
4,TUS10202106201910111901311011002,02,00,001,1,1,38,2,04,11,01,,4,1281550

In [14]:
df_L2.columns

Index(['Common-ID', 'Level', 'Filler', 'Person serial no.', 'Relation to head',
       'Gender', 'Age', 'marital status', 'highest level of education',
       'usual principal activity: status (code)',
       'industry of work: 2-digit of NIC 2008', 'Blank', 'NSC', 'MULT'],
      dtype='object', name='item')

In [15]:
df_L2["primID"] = df_L2["Common-ID"]+df_L2["Person serial no."]

In [16]:
# Merge all the dataframes into one and save as pickle file
# L1: Common-ID
# L2: primID
df_L2["Common-ID"] = df_L2["Common-ID"].apply(lambda x: x.replace(" ", ""))
df_merged = pd.merge(left=df_L1, right=df_L2, on="Common-ID", how="outer",indicator=True)

In [17]:
df_len = df_merged["primID"].apply(lambda x: len(x))

In [18]:
df_len.value_counts()

primID
35    518744
Name: count, dtype: int64

In [19]:
df_merged.drop(columns=["_merge"],inplace=True)

In [20]:
df_merged.to_pickle("df_L1L2.pkl")

In [40]:
####################### END DATA GENERATION ########################